.body{
}
.colored-section{
  background-color:  black;
  color: white;
  width: 100%;
}

.home{
  padding: 5% 0 10% 0;
}
#hush{
  font-size: 11em;
  font-weight: 20;

}
#feature-title{
  font-size: 8em;
}
.taco{
  padding-left:200px;
  padding-top: 150px;
  padding-right: 60px;
  padding-bottom: 100px;
}
.pizza{
  padding-right: 200px;
  padding-top: 150px;
  padding-left: 60px;
  padding-bottom: 100px;
}
.bg-img{
  background-image: url(images/hush.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  max-width: 100%;
  max-height: 100%;
  padding: 100px 0 100px 0;
}
p{
  padding: 100px;
}
.title{
  text-align: center;
  font-size: 6em;
  position: relative;
  top: 1.7em;

}
.bottom{
  background-color: #2a3332;
  text-align: center;
  padding-top: 90px;
  padding-bottom: 50px;
}
.icons{
  color: #ffffff;
  font-size: 2em;
  padding: 0 10px;
}
